.app-background {
  background-image: url("4.png");
  background-repeat: no-repeat;
  background-color: #282c34;
  color: rgb(226, 224, 224);
  min-height: calc(100vh - 64px);
  min-width: 100vh;
  display: flex-block;
  justify-content: center;
  /* overflow-y: hidden; */
}

.menu-logo {
  color: #353a49;
  width: 133px;
  height: 54px;
  margin: 5px 0 0 60px;
  display: inline-flex;
}

#a_logo {
  width: 133px;
  height: 54px;
  display: inline-flex;
}

#logo {
  display: inline-flex;
}

.header1 {
  background-color: #353a49;
  box-shadow: 0px 0px 8px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 64px;
  display: flex;
}

.div-a-header {
  padding: 0 0 0 40px;
  display: flex-block;
}

.a-header {
  margin: 0% 0% 0% 0%;
  padding: 0% 0% 0% 0%;
  font-family: "Lora", serif;
  font-size: 24px;
  text-decoration: none;
  vertical-align: 0;
  grid-template-columns: repeat(1, 0.5fr);
  grid-gap: 0px;
  display: flex-block;
}

.header1 a:hover {
  /* Цвет при наведении */
  color: rgb(191, 155, 224);
}

.header1 a:link {
  /* Цвет при наведении */
  color: rgb(255, 255, 255);
}

.menu-left {
  width: 70%;
  height: 64px;
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  padding: 0 0 0 60px;
}

.menu-right {
  padding: 0 0 0 0;
  display: flex;
  height: 64px;
  vertical-align: top;
}

.menu-right-button {
  display: inline-block;
  padding: 10px 0 0 30px;
}

a:visited {
  /* Цвет посещённой ссылки */
  color: rgb(255, 255, 255);
}

.header1 a:active {
  /* Цвет ссылки при клике */
  color: rgb(185, 0, 241);
}

button {
  margin: 0 0 0 0;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 12px;
  text-decoration: none;
}

#button-reg {
  background-color: #5a5f6b;
  border-color: black;
  font-family: "Lora", serif;
  font-size: 18px;
}

#button-log {
  /* margin: 0 0 0 30px;
  padding: 10px 15px 10px 15px; */
  background-color: #5f2d8d;
  border-color: black;
  font-family: "Lora", serif;
  font-size: 18px;
}

#button-logout {

  background-color: #5f2d8d;
  border-color: black;
  font-family: "Lora", serif;
  font-size: 18px;
}

#button-log2 {
  padding: 20px 185px 20px 185px;
  background-color: #5f2d8d;
  border-color: black;
  font-family: "Lora", serif;
  font-size: 18px;
  text-align: center;
  margin: 60px 0 0 0;
}

#button-reg2 {
  padding: 20px 132px 20px 132px;
  background-color: #5f2d8d;
  border-color: black;
  font-family: "Lora", serif;
  font-size: 18px;
  text-align: center;
  margin: 60px 0 0 0;
}

.user-login {
  color: white;
  font-family: 'Tenor Sans', sans-serif;
  font-size: 18px;
  display: inline-flex;
  padding: 0 30px 0 0;
}


.main_container {
  display: block;
  width: 100%;
  padding: 60px 0 0 0;
  justify-content: center;
}

.img_main {
  margin: 0% 0% 0% 0%;
  padding: 0% 0% 0% 0%;
  width: 352px;
  height: 264px;
  border-radius: 16px;
  display: inline-block;
}

.for-main_container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.games1 {
  display: inline-block;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.img_main_nickname {
  width: 372px;
  display: inline-block;
  padding: 0% 0% 0% 0%;
}

.players1 {
  display: inline-block;
  margin: 0 0 0 0;
  padding: 50px 0 0 0;
}

.img-games {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.img-players {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.top-games {
  text-align: left;
  padding: 0 0 0 0;
}

.top-teammates {
  text-align: left;
  padding: 0 0 0 0;
}

.for-dobro {
  display: block;
  text-align: right;
}


.dobro{
  display: inline-flex;
  padding: 100px 550px 0 0;
}

.for-dlya {
  display: block;
  text-align: right;
}

.dlya{
  display: inline-block;
  padding: 100px 550px 0 0;
}

.dlya2{
  display: block;
  padding: 0 550px 0 0;
}

.prisoed{
  display: inline-flex;
  padding: 100px 600px 0 0;
}

.inputs {
  padding: 30px 500px 0 0;
  display: block;
}

.input2{
  padding: 60px 0 0 0;
}

input {
  background-color: #37383a;
  border-radius: 6px;
  border-color: #5f2d8d;
  border: none;
  font-family: "Lora", serif;
  font-size: 18px;
  color: white;
  height: 48px;
  width: 400px;
  padding: 11px 0px 11px 16px;
}

input::placeholder {
  color: rgb(196, 192, 192);
}

.for-smesharik {
  display: inline-flex;
}

.smesharik {
  margin: 50px 0 0 350px;
  animation-name: forSmesharik;
  animation: forSmesharik 2s infinite alternate;
  position: absolute;
  display: flexbox;
}

@keyframes forSmesharik {
  from {
    top: 0px;
  }
  to {
    top: 50px;
  }
}
